In [1]:
type(9)

int

In [2]:
list_str = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

In [3]:
list_str

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [4]:
list

list

In [5]:
type[list_str]

type[['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']]

In [7]:
type(list_str)

list

In [8]:
list_str[1]

'Honda Accord'

In [9]:
print(list_str[1])

Honda Accord

In [10]:
len(list_str)

4

In [11]:
print("Car at index 2 is:", list_str[2])

Car at index 2 is: Honda Civic

In [15]:
print(list_str[1, 2])

TypeError: list indices must be integers or slices, not tuple

In [22]:
print(list_str[-2])

Honda Civic

In [23]:
len(list_str)

4

In [30]:
print("New car at index 3 is:", list_str[3])

TypeError: 'str' object does not support item assignment

In [34]:
list_str

'Nissan Altima'

In [16]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]

In [38]:
cars_list

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']

In [41]:
cars_list[3] = "Nissan Altima" 

print("New car at index 3 is:", cars_list[3]) 

cars_list

New car at index 3 is: Nissan Altima

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Nissan Altima']

In [43]:
cars_list[2] = "Hyundai Elantra" 
print("New car at index 2 is:", cars_list[2])

New car at index 2 is: Hyundai Elantra

In [44]:
cars_list

['Toyota Camry', 'Honda Accord', 'Hyundai Elantra', 'Nissan Altima']

In [45]:
cars_list = ['Toyota Camry', 'Honda Accord', 
             'Hyundai Elantra', 'Nissan Altima'] 
cars_list

['Toyota Camry', 'Honda Accord', 'Hyundai Elantra', 'Nissan Altima']

In [47]:
cars_list[4] = 'Hyundai Elantra' 

cars_list

IndexError: list assignment index out of range

In [48]:
cars_list.append("Hyundai Elantra") 

cars_list

['Toyota Camry',
 'Honda Accord',
 'Hyundai Elantra',
 'Nissan Altima',
 'Hyundai Elantra']

In [15]:
cars_list.append('Dodge Charger') 

cars_list

NameError: name 'cars_list' is not defined

In [11]:
dictionary = {'a':"Ruben", 'b':"Sucks", 'c':"Should get more stalkers"}

print(dictionary['c']) 
dictionary['f'] = 'latinas'
print(dictionary)

Should get more stalkers
{'a': 'Ruben', 'b': 'Sucks', 'c': 'Should get more stalkers', 'f': 'latinas'}

In [8]:
dictionary['latinas'] = 'd'

print(dictionary)

In [18]:
cars_list.extend(["Toyota Highlander", "Acura RDX"])

In [19]:
print(cars_list)

['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla', 'Toyota Highlander', 'Acura RDX']